
<link rel="stylesheet" href="/style.css">
<nav class="navbar">
        <% if (currentUser) { %>
            <a href="/">Home</a>
            <a href="/users/profile" class="nav-link-item">Profile</a>
            <a href="/horses" class="nav-link-item">Horses</a>
            <a href="/users/sign-out"class="nav-right">Sign Out</a>
            
            
        <% } else { %>
            <a href="/">Home</a>
            <a href="/users/sign-up">Sign Up</a>
            <a href="/users/sign-in">Sign In</a>
           
        <% } %>
      

    </nav>
    
    <div class="flash-messages">
        <% if (successMessages && successMessages.length> 0) { %>
            <div class="alert alert-success">
                <%= successMessages %>
            </div>
            <% } %>
    
                <% if (errorMessages && errorMessages.length> 0) { %>
                    <div class="alert alert-error">
                        <%= errorMessages %>
                    </div>
                    <% } %>
    </div>