<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<body>
    <%- include("partials/_navbar") %>
    <h1>Welcome to The Stallion Barn!</h1>
    <img src="/images/Savinhill.webp" alt="Barn with horses" width="500">
    <p>Discover our magnificent horses and find your perfect match.</p>
    <br>
    <br>
    <br>
    <form action=" /users/sign-in" method="GET" style="display: inline;">
     <button type="submit">Sign In</button>
    </form>
    
</body>
</html>