<%- include('./_header', { title: "My App" }) %>
<link rel="stylesheet" href="/stylesheets/navbar.css">
<nav class="navbar">
    <div>
        <% if (currentUser) { %>
            <a href="/users/profile">Profile</a>
            <a href="/users/sign-out">Sign Out</a>
            
        <% } else { %>
            <a href="/users/sign-up">Sign Up</a>
            <a href="/users/sign-in">Sign In</a>
        <% } %>
        <a href="/horses">Horses</a>
    </div>
    </nav>