<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Horses</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("partials/_navbar") %>
    <h1>List of Horses</h1>
    <ul>
        <% horses.forEach(horse => { %>
            <li><a href="/horses/<%= horse._id %>"><%= horse.name %></a></li>
        <% }) %>
    </ul>
    <br>
    <br>
    <br>
    <br>
    <br>
    <form action ="/horses" method="POST">
        <label for="name">Horse Name:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="breed">Breed:</label>
        <input type="text" id="breed" name="breed" required>
        <br>
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required>
        <br>
        <label for="image">Image URL: </label>
        <input type="text" name="image" id="image" placeholder="https://ecample.com/horsepicture.jpg">
        <br>
        <button type="submit">Add Horse</button>
    </form>
</body>
</html>